<!DOCTYPE html>
<!--	index.ejs

	For Indian Hills Community College
	Parking On Hills, https://parking.indianhils.edu
	by Blaine Harper

	PURPOSE: Sample landing page. Currently unused
-->
<html lang="en" data-bs-theme="dark">
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="author" content="Blaine Harper">
    <title><%- env.title %> | <%= title %></title>
	
	<link rel="stylesheet" href="/css/bootstrap.add.css?ver=<%= Math.floor(Date.now()/1000); %>"/>
	<link href="/css/cover.css?ver=<%= Math.floor(Date.now()/1000); %>" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3/dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.13.4/b-2.3.6/b-html5-2.3.6/b-print-2.3.6/datatables.min.css"/>
  </head>
<main role="main" class="inner cover my-auto">
	<div class="col text-center justify-content-center">
		<h1><%- title %></h1>
		<p class="lead"><%- subtitle %></p>
		<p class="lead"><a href="/about" class="btn btn-lg btn-secondary my-3">Learn more</a></p>
		<div class="card">
			<div class="card-body">
				<blockquote class="blockquote mb-0">
					<p class="lead">What's so amazing that keeps us stargazing, and what do we think we might see?</p>
					<footer class="blockquote-footer">Kermit the Frog, <cite title="Source Title">the Muppet Movie</cite></footer>
				</blockquote>
			</div>
		</div>
	</div>
</main>