<!DOCTYPE html>
<!--	gallery.ejs

	For BlaineHarper.com
	ExpressJS Bootstrap Seed, https://ebs.blaineharper.com/gallery
	by Blaine Harper

	PURPOSE: 
-->
<div class="container">
	<div class="row py-5 gy-5 d-flex">
		<% for(i = 0; i < cards.length; i++) { %>
			<div class="col-6 col-md-3">
				<div class="card">
					<div class="card-header bg-black bg-gradient">
						<%- cards[i].heading %>
					</div>
					<img src="<%- cards[i].img %>" style="height:150px;width:150px;" class="card-img-top mx-auto my-3" alt="<%- cards[i].heading %>">
					<div class="card-body justify-content-left">
						<%- cards[i].content %>
					</div>
					<div class="card-footer text-body-secondary">
						<%- cards[i].footer %>
					</div>
				</div>
			</div>
		<% } %>
	</div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Modal title</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>Modal body text goes here.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>
